#screenshot-container {
	width: 80%;
	padding: 15px;
	height: 670px;
	margin: auto;
}

#screenshot-image {
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	background-size: contain;
}

#screenshot-image-url {
	width: 80%;
	position: absolute;
	z-index: 1;
}

#loading-status-container {
	display: none;
	opacity: 0.6;
	background-image: url('../img/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 90px 90px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

#url-container {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

#url-label {
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
	padding-left: 10px;
	padding-right: 10px;
	height: 20px;
	padding-top: 21px;
	padding-bottom: 30px;
	margin: auto;
	margin-top: 299px;
	border-radius: 15px;
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
	position: relative;
	z-index: 2;
}

#screenshot-url {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	box-shadow: none;
	cursor: auto
}

#instructions-container {
	width: 100%;
	height: 100%;
	text-align: center;
}

#instructions-label {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 120px;
	margin: auto;
	margin-top: 245px; /* 670/2 - this.height */
	line-height: 80px;
	font-size: 30px;
	color: white;
	text-shadow: 0px 0px 10px #000000;
	text-align: center;
	font-weight: bold;
}